<h1><%= @portfolio_item.title %></h1>
<%= image_tag @portfolio_item.main_image %>
<h3><em><%= @portfolio_item.subtitle %></em></h3>
<p><%= @portfolio_item.body %></p>
<%= link_to "Back", portfolios_path %>
